In [1]:
import pandas as pd
import numpy as np

# Configurações
pd.set_option("display.max_columns", 200)

# Caminho padrão
DATA_PATH = "../data/raw/dataset.csv"

df = pd.read_csv(DATA_PATH)

df.head()

,id,safra,y,VAR_1,VAR_2,VAR_3,VAR_4,VAR_5,VAR_6,VAR_7,VAR_8,VAR_9,VAR_10,VAR_11,VAR_12,VAR_13,VAR_14,VAR_15,VAR_16,VAR_17,VAR_18,VAR_19,VAR_20,VAR_21,VAR_22,VAR_23,VAR_24,VAR_25,VAR_26,VAR_27,VAR_28,VAR_29,VAR_30,VAR_31,VAR_32,VAR_33,VAR_34,VAR_35,VAR_36,VAR_37,VAR_38,VAR_39,VAR_40,VAR_41,VAR_42,VAR_43,VAR_44,VAR_45,VAR_46,VAR_47,VAR_48,VAR_49,VAR_50,VAR_51,VAR_52,VAR_53,VAR_54,VAR_55,VAR_56,VAR_57,VAR_58,VAR_59,VAR_60,VAR_61,VAR_62,VAR_63,VAR_64,VAR_65,VAR_66,VAR_67,VAR_68,VAR_69,VAR_70,VAR_71,VAR_72,VAR_73,VAR_74,VAR_75,VAR_76,VAR_77,VAR_78
0,1,201404,0,0.0,0.0,0.0,0.0,124.54,3277.0,51.98,NaN,500.00,153.0,NaN,299.0,73.26,1024.0,26.98,162.0,3000.0,72.0,45.0,8,1279.0,63.0,77.67,492.84,12.0,845.0,NaN,12.0,16.0,500.00,22.0,0.133833,18.0,NaN,NaN,0.0,16.0,220.84,348.0,9.0,9.57,33.0,19.0,11.0,512.82,36.0,0.0,16.0,0.0,159.28,379.0,53.97,3380.00,500.00,159.28,159.28,45,369.0,95.54,-0.030478,0.00,2508.0,159.28,0,1303.79,8.0,-69.0,16.0,156.38,7.52,0.0,151.0,0.0,3.0,477.84,173.06,0.00,3.0
1,2,201407,0,64.0,0.0,2.0,1.0,47.92,2443.0,84.72,NaN,1000.00,649.0,NaN,224.0,38.53,NaN,NaN,84.0,NaN,50.0,18.0,12,1063.0,31.0,177.39,335.44,9.0,NaN,842.0,10.0,NaN,1000.00,14.0,0.133833,13.0,NaN,NaN,NaN,NaN,338.90,179.0,5.0,NaN,NaN,19.0,9.0,269.71,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1000.00,2000.00,NaN,NaN,60,228.0,97.73,0.357324,NaN,836.0,NaN,0,1486.26,24.0,NaN,NaN,707.84,NaN,NaN,187.0,NaN,NaN,NaN,184.69,54.00,NaN
2,3,201405,0,99.0,2.0,2.0,2.0,80.38,1824.0,26.63,NaN,1893.35,346.0,29.98,106.0,NaN,NaN,73.55,8.0,NaN,3.0,2.0,12,116.0,4.0,140.25,362.71,3.0,NaN,597.0,5.0,NaN,1893.35,NaN,0.133833,2.0,NaN,59.97,NaN,NaN,133.17,NaN,4.0,NaN,NaN,3.0,12.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,294.20,1893.35,1893.35,NaN,NaN,31,264.0,294.57,-0.411787,NaN,NaN,NaN,0,800.27,18.0,NaN,NaN,471.86,NaN,NaN,96.0,NaN,NaN,NaN,732.00,121.98,NaN
3,4,201412,0,0.0,0.0,0.0,0.0,10.58,3796.0,NaN,NaN,3000.00,119.0,NaN,NaN,NaN,1609.0,NaN,36.0,1500.0,17.0,11.0,12,255.0,14.0,29.99,74.06,0.0,1238.0,NaN,0.0,5.0,3000.00,12.0,0.133833,3.0,NaN,NaN,0.0,-1.0,NaN,NaN,5.0,NaN,7.0,NaN,6.0,NaN,7.0,0.0,NaN,NaN,NaN,594.0,NaN,3000.00,7000.00,287.31,NaN,76,49.0,NaN,0.721630,5.75,NaN,287.31,0,NaN,4.0,-133.0,NaN,119.96,23.00,0.0,417.0,0.0,0.0,NaN,NaN,0.00,0.0
4,5,201403,1,0.0,0.0,0.0,0.0,70.46,437.0,40.69,10.99,2000.00,NaN,62.78,NaN,NaN,288.0,29.58,NaN,NaN,NaN,0.0,12,NaN,0.0,NaN,493.22,0.0,43.0,NaN,0.0,-9.0,2000.00,0.0,0.090634,0.0,10.99,313.91,0.0,-9.0,326.89,NaN,0.0,0.00,-9.0,NaN,0.0,NaN,-9.0,NaN,-16.0,0.0,182.89,288.0,147.94,2946.29,2946.29,182.89,182.89,38,332.0,NaN,-0.231735,NaN,NaN,NaN,1,1457.78,NaN,-272.0,-16.0,NaN,NaN,0.0,75.0,0.0,0.0,914.45,NaN,NaN,0.0